@import "_mixins";

.app-docs {
  .li, li,
  p, .p {
    &:extend(.max-width all);
  }
}

.app__examples {
  h3 {
    a {
      .click-color(@color-white);
    }
  }
}

@{select-icon},
i.icon.dropdown {
  &:before {
    opacity: @icon-opacity;
  }
}

label {
  .json-tree & {
    text-transform: initial;
  }
}

.app__tag {
  &:extend(.input-tag all);
}

.app__expand {
  > *:first-child {
    font-size: @size-large;
  }
}

.tabs__item {
  font-size: @size-large;

  .tabs.buttoned & {
    .padding-v(size(10));
    .padding-h(size(16));
    line-height: size(18);
  }

  &:focus {
    &:extend(.no-outline);
  }
}

table {
  thead {
    color: @color-bg-grey-darker;
  }
}
