#
#   Need to request access to Nexus NPM Repository:
#   example: https://jira.exigeninsurance.com/browse/EISHELP-72011
#
#   To generate auth token use next command (unix):
#   echo -n "<your AD login>:<your AD password>" | base64
#

<REGISTRY_SCOPE>:registry=<PATH_TO_LOCAL_NPM_REGISTRY>
email=<DOMAIN_NAME>@eisgroup.com
always-auth=true
_auth=<GENERATED_TOKEN>