@slider-color: @color-primary-light;
@slider-color-handle: @color-primary-light;
@slider-color-handle-border: @slider-color-handle;
@slider-color-handle-hover: @color-primary;
@slider-color-rail: @color-shadow-light;
@slider-color-disabled: @color-text;
@slider-track-size: @border-size-thick;
@slider-handle-size: @slider-track-size * 6;
@slider-track-padding: (@slider-handle-size - @slider-track-size) / 2;

// Inverted Colors
@slider-color-inverted: @color-secondary-light;
@slider-color-handle-inverted: @color-primary-light;
@slider-color-handle-border-inverted: @color-border-lighter;
@slider-color-rail-inverted: @color-highlight-lighter;

.app__slider {
  position: relative;
  width: 100%;
  user-select: none;
  touch-action: none;

  // Horizontal
  &:not(.vertical) {
    height: @slider-handle-size;

    .app__slider__rail,
    .app__slider__track {
      position: absolute;
      top: @slider-track-padding;
      left: 0;
      right: 0;
      height: @slider-track-size;
      border-radius: @slider-track-size / 2;
    }

    .app__slider__track {
      right: auto;
    }

    .app__slider__handle {
      .circle(@slider-handle-size);

      position: absolute;
      top: 0;
      transform: translateX(-50%);
      cursor: pointer;
      border: @border-size solid @slider-color-handle-border;
      box-sizing: border-box;
      transition: left 100ms ease-out;
    }

    .app__slider__handle.active {
      transition: none;
    }

    .app__slider__track {
      transition: left 100ms ease-out, width 100ms ease-out;
    }

    .app__slider.dragging .app__slider__track {
      transition: none;
    }

    .app__slider__dot {
      position: absolute;
      top: @slider-track-padding - 2;
      width: @slider-track-size + 4;
      height: @slider-track-size + 4;
      border-radius: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    .app__slider__mark {
      position: absolute;
      top: @slider-handle-size + 4;
      transform: translateX(-50%);
      font-size: @size-smaller;
      pointer-events: none;
    }
  }

  // Vertical
  &.vertical {
    width: @slider-handle-size;
    height: 100%;
    min-height: size(120);

    .app__slider__rail,
    .app__slider__track {
      position: absolute;
      left: @slider-track-padding;
      top: 0;
      bottom: 0;
      width: @slider-track-size;
      border-radius: @slider-track-size / 2;
    }

    .app__slider__track {
      top: auto;
    }

    .app__slider__handle {
      .circle(@slider-handle-size);

      position: absolute;
      left: 0;
      transform: translateY(50%);
      cursor: pointer;
      border: @border-size solid @slider-color-handle-border;
      box-sizing: border-box;
      transition: bottom 100ms ease-out;
    }

    .app__slider__handle.active {
      transition: none;
    }

    .app__slider__track {
      transition: bottom 100ms ease-out, height 100ms ease-out;
    }

    .app__slider.dragging .app__slider__track {
      transition: none;
    }

    .app__slider__dot {
      position: absolute;
      left: @slider-track-padding - 2;
      width: @slider-track-size + 4;
      height: @slider-track-size + 4;
      border-radius: 50%;
      transform: translateY(50%);
      pointer-events: none;
    }

    .app__slider__mark {
      position: absolute;
      left: @slider-handle-size + 4;
      transform: translateY(50%);
      font-size: @size-smaller;
      pointer-events: none;
    }
  }

  // Colors
  .app__slider__track {
    background-color: @slider-color;

    .inverted & {
      background-color: @slider-color-inverted;
    }
  }

  .app__slider__rail {
    background-color: @slider-color-rail;
    cursor: pointer;

    .inverted & {
      background-color: @slider-color-rail-inverted;
    }
  }

  .app__slider__handle {
    background-color: @slider-color-handle;

    .inverted & {
      background-color: @slider-color-handle-inverted;
      border-color: @slider-color-handle-border-inverted;
    }
  }

  .app__slider__dot {
    border: @border-size solid @slider-color-rail;
    background-color: @slider-color-rail;

    .inverted & {
      border-color: @slider-color-rail-inverted;
      background-color: @slider-color-rail-inverted;
    }
  }

  &:not(.readonly, .disabled) {
    .app__slider__handle {
      &:hover, &:focus, &:active, &.active {
        background-color: @slider-color-handle-hover;
        border-color: @slider-color-handle-hover;
      }
    }
  }

  &.disabled,
  &.readonly {
    border: 0 !important; // override global `.disabled` dotted border from utilities/effect.less

    .app__slider__rail,
    .app__slider__handle {
      cursor: default;
    }

    .app__slider__track {
      background-color: @color-grey;
    }

    .app__slider__handle {
      background-color: @color-grey;
      border: 0;
    }
  }

  .tooltip {
    &:extend(.padding-smaller all);
    &:extend(.padding-bottom-smallest all);
    &:extend(.text.smaller all);

    &.top {
      &::after {
        top: 100%;
      }
    }

    &.right {
      &::after {
        right: 100%;
      }
    }
  }
}

.app__slider--wrap {
  &:extend(.padding-v all);
  &:extend(.padding-h-smaller all);

  align-self: stretch;
  align-items: center;
}

.app__slider__label {
  &:extend(.uppercase all);
  .text-truncate(@maxWidth: 45%);
}

.app__slider__remove {
  &:extend(.margin-left-smaller all);
  &:extend(.appear-on-hover all);

  background-color: @color-white !important;
}

.app__slider__values {
  position: absolute;
  bottom: calc(100% + @margin-smaller);
  right: 0;
}
