# Docker volume for Nginx containers
NGINX_FILES_PATH=./nginx

# Location for public `www/domain.com/index.html`
WEBSITES_PATH=../www

# Location for server uploads `server/domain.com/uploads`
SERVERS_PATH=../server

# Letsencrypt notification email
WEBSITES_EMAIL=example@gmail.com

# Domains to host
WEBSITES_DOMAINS=subdomain.domain.com
