/uploads
*.env
.env.*
env/
!.env*example
*.ppk
*.pub
*.map
/db
/data
/dbbackup
/localStorage
log/
!static/robots.txt
*.crt
*.csr
*.key
*.pem
.vscode
/node_modules
nginx
.idea
.vscode
.ropeproject
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
*.py[cod]
# C extensions
*.so
.Python
develop-eggs/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.AppleDouble
.LSOverride
Source/Application.h
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
._*
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
