@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?pn33hl');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?pn33hl#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?pn33hl') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?pn33hl') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?pn33hl#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash {
  &:before {
    content: @icon-trash; 
  }
}
.icon-logo {
  &:before {
    content: @icon-logo; 
  }
}
.icon-logo-symbol {
  &:before {
    content: @icon-logo-symbol; 
  }
}
.icon-logo-brand {
  &:before {
    content: @icon-logo-brand; 
  }
}
.icon-add-circle {
  &:before {
    content: @icon-add-circle; 
  }
}
.icon-add {
  &:before {
    content: @icon-add; 
  }
}
.icon-analytics {
  &:before {
    content: @icon-analytics; 
  }
}
.icon-arrow-down {
  &:before {
    content: @icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: @icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: @icon-arrow-up; 
  }
}
.icon-bell-outline {
  &:before {
    content: @icon-bell-outline; 
  }
}
.icon-bell {
  &:before {
    content: @icon-bell; 
  }
}
.icon-bookmark-outline {
  &:before {
    content: @icon-bookmark-outline; 
  }
}
.icon-bookmark {
  &:before {
    content: @icon-bookmark; 
  }
}
.icon-briefcase {
  &:before {
    content: @icon-briefcase; 
  }
}
.icon-camera {
  &:before {
    content: @icon-camera; 
  }
}
.icon-caret-down {
  &:before {
    content: @icon-caret-down; 
  }
}
.icon-caret-up {
  &:before {
    content: @icon-caret-up; 
  }
}
.icon-chat {
  &:before {
    content: @icon-chat; 
  }
}
.icon-check-circle {
  &:before {
    content: @icon-check-circle; 
  }
}
.icon-checkbox-filled {
  &:before {
    content: @icon-checkbox-filled; 
  }
}
.icon-checkbox {
  &:before {
    content: @icon-checkbox; 
  }
}
.icon-delete {
  &:before {
    content: @icon-delete; 
  }
}
.icon-dropdown-spinner {
  &:before {
    content: @icon-dropdown-spinner; 
  }
}
.icon-dropdown-chevron {
  &:before {
    content: @icon-dropdown-chevron; 
  }
}
.icon-dropdown-delete {
  &:before {
    content: @icon-dropdown-delete; 
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark; 
  }
}
.icon-chevron-down {
  &:before {
    content: @icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: @icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: @icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: @icon-chevron-up; 
  }
}
.icon-clock {
  &:before {
    content: @icon-clock; 
  }
}
.icon-close-circle {
  &:before {
    content: @icon-close-circle; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-compass-arrow {
  &:before {
    content: @icon-compass-arrow; 
  }
}
.icon-compass-target {
  &:before {
    content: @icon-compass-target; 
  }
}
.icon-credit-card {
  &:before {
    content: @icon-credit-card; 
  }
}
.icon-disabled {
  &:before {
    content: @icon-disabled; 
  }
}
.icon-edit {
  &:before {
    content: @icon-edit; 
  }
}
.icon-elipses {
  &:before {
    content: @icon-elipses; 
  }
}
.icon-envelop-filled {
  &:before {
    content: @icon-envelop-filled; 
  }
}
.icon-envelope-outline {
  &:before {
    content: @icon-envelope-outline; 
  }
}
.icon-error {
  &:before {
    content: @icon-error; 
  }
}
.icon-eye {
  &:before {
    content: @icon-eye; 
  }
}
.icon-file-download {
  &:before {
    content: @icon-file-download; 
  }
}
.icon-file-upload {
  &:before {
    content: @icon-file-upload; 
  }
}
.icon-filter {
  &:before {
    content: @icon-filter; 
  }
}
.icon-gear {
  &:before {
    content: @icon-gear; 
  }
}
.icon-heart-outline {
  &:before {
    content: @icon-heart-outline; 
  }
}
.icon-heart {
  &:before {
    content: @icon-heart; 
  }
}
.icon-help {
  &:before {
    content: @icon-help; 
  }
}
.icon-home {
  &:before {
    content: @icon-home; 
  }
}
.icon-image {
  &:before {
    content: @icon-image; 
  }
}
.icon-info {
  &:before {
    content: @icon-info; 
  }
}
.icon-lock-filled {
  &:before {
    content: @icon-lock-filled; 
  }
}
.icon-lock-open {
  &:before {
    content: @icon-lock-open; 
  }
}
.icon-lock {
  &:before {
    content: @icon-lock; 
  }
}
.icon-map-pin {
  &:before {
    content: @icon-map-pin; 
  }
}
.icon-menu {
  &:before {
    content: @icon-menu; 
  }
}
.icon-mobile {
  &:before {
    content: @icon-mobile; 
  }
}
.icon-notes {
  &:before {
    content: @icon-notes; 
  }
}
.icon-paperclip {
  &:before {
    content: @icon-paperclip; 
  }
}
.icon-person {
  &:before {
    content: @icon-person; 
  }
}
.icon-phone {
  &:before {
    content: @icon-phone; 
  }
}
.icon-play-circle {
  &:before {
    content: @icon-play-circle; 
  }
}
.icon-play {
  &:before {
    content: @icon-play; 
  }
}
.icon-print {
  &:before {
    content: @icon-print; 
  }
}
.icon-radio-blank {
  &:before {
    content: @icon-radio-blank; 
  }
}
.icon-radio-filled {
  &:before {
    content: @icon-radio-filled; 
  }
}
.icon-refresh {
  &:before {
    content: @icon-refresh; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-shuffle {
  &:before {
    content: @icon-shuffle; 
  }
}
.icon-star {
  &:before {
    content: @icon-star; 
  }
}
.icon-tasks {
  &:before {
    content: @icon-tasks; 
  }
}
.icon-thumbs-down {
  &:before {
    content: @icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: @icon-thumbs-up; 
  }
}
.icon-time {
  &:before {
    content: @icon-time; 
  }
}
.icon-warning {
  &:before {
    content: @icon-warning; 
  }
}
.icon-desc {
  &:before {
    content: @icon-desc; 
  }
}
.icon-asc {
  &:before {
    content: @icon-asc; 
  }
}
.icon-sort {
  &:before {
    content: @icon-sort; 
  }
}
.icon-dollar {
  &:before {
    content: @icon-dollar; 
  }
}
.icon-theme {
  &:before {
    content: @icon-theme; 
  }
}
.icon-test {
  &:before {
    content: @icon-test; 
  }
}

