@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ws8loc');
  src: url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ws8loc#iefix') format('embedded-opentype'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?ws8loc') format('truetype'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.woff?ws8loc') format('woff'),
  url('@{icomoon-font-path}/@{icomoon-font-family}.svg?ws8loc#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.logo {
    &:before {
      content: @logo;
    }
  }

  &.logo-symbol {
    &:before {
      content: @logo-symbol;
    }
  }

  &.logo-brand {
    &:before {
      content: @logo-brand;
    }
  }

  &.add-circle {
    &:before {
      content: @add-circle;
    }
  }

  &.add {
    &:before {
      content: @add;
    }
  }

  &.analytics {
    &:before {
      content: @analytics;
    }
  }

  &.arrow-down {
    &:before {
      content: @arrow-down;
    }
  }

  &.arrow-left {
    &:before {
      content: @arrow-left;
    }
  }

  &.arrow-right {
    &:before {
      content: @arrow-right;
    }
  }

  &.arrow-up {
    &:before {
      content: @arrow-up;
    }
  }

  &.bell-outline {
    &:before {
      content: @bell-outline;
    }
  }

  &.bell {
    &:before {
      content: @bell;
    }
  }

  &.bookmark-outline {
    &:before {
      content: @bookmark-outline;
    }
  }

  &.bookmark {
    &:before {
      content: @bookmark;
    }
  }

  &.briefcase {
    &:before {
      content: @briefcase;
    }
  }

  &.camera {
    &:before {
      content: @camera;
    }
  }

  &.caret-down {
    &:before {
      content: @caret-down;
    }
  }

  &.caret-up {
    &:before {
      content: @caret-up;
    }
  }

  &.chat {
    &:before {
      content: @chat;
    }
  }

  &.check-circle {
    &:before {
      content: @check-circle;
    }
  }

  &.checkbox-filled {
    &:before {
      content: @checkbox-filled;
    }
  }

  &.checkbox {
    &:before {
      content: @checkbox;
    }
  }

  &.checkmark {
    &:before {
      content: @checkmark;
    }
  }

  &.dropdown {
    &:before {
      content: @dropdown;
    }
  }

  &.chevron-down {
    &:before {
      content: @chevron-down;
    }
  }

  &.chevron-left {
    &:before {
      content: @chevron-left;
    }
  }

  &.chevron-right {
    &:before {
      content: @chevron-right;
    }
  }

  &.chevron-up {
    &:before {
      content: @chevron-up;
    }
  }

  &.clock {
    &:before {
      content: @clock;
    }
  }

  &.close-circle {
    &:before {
      content: @close-circle;
    }
  }

  &.close {
    &:before {
      content: @close;
    }
  }

  &.compass-arrow {
    &:before {
      content: @compass-arrow;
    }
  }

  &.compass-target {
    &:before {
      content: @compass-target;
    }
  }

  &.credit-card {
    &:before {
      content: @credit-card;
    }
  }

  &.disabled {
    &:before {
      content: @disabled;
    }
  }

  &.edit {
    &:before {
      content: @edit;
    }
  }

  &.elipses {
    &:before {
      content: @elipses;
    }
  }

  &.envelop-filled {
    &:before {
      content: @envelop-filled;
    }
  }

  &.envelope-outline {
    &:before {
      content: @envelope-outline;
    }
  }

  &.error {
    &:before {
      content: @error;
    }
  }

  &.eye {
    &:before {
      content: @eye;
    }
  }

  &.file-download {
    &:before {
      content: @file-download;
    }
  }

  &.file-upload {
    &:before {
      content: @file-upload;
    }
  }

  &.filter {
    &:before {
      content: @filter;
    }
  }

  &.gear {
    &:before {
      content: @gear;
    }
  }

  &.heart-outline {
    &:before {
      content: @heart-outline;
    }
  }

  &.heart {
    &:before {
      content: @heart;
    }
  }

  &.help {
    &:before {
      content: @help;
    }
  }

  &.home {
    &:before {
      content: @home;
    }
  }

  &.image {
    &:before {
      content: @image;
    }
  }

  &.info {
    &:before {
      content: @info;
    }
  }

  &.lock-filled {
    &:before {
      content: @lock-filled;
    }
  }

  &.lock-open {
    &:before {
      content: @lock-open;
    }
  }

  &.lock {
    &:before {
      content: @lock;
    }
  }

  &.map-pin {
    &:before {
      content: @map-pin;
    }
  }

  &.menu {
    &:before {
      content: @menu;
    }
  }

  &.mobile {
    &:before {
      content: @mobile;
    }
  }

  &.notes {
    &:before {
      content: @notes;
    }
  }

  &.paperclip {
    &:before {
      content: @paperclip;
    }
  }

  &.person {
    &:before {
      content: @person;
    }
  }

  &.phone {
    &:before {
      content: @phone;
    }
  }

  &.play-circle {
    &:before {
      content: @play-circle;
    }
  }

  &.play {
    &:before {
      content: @play;
    }
  }

  &.print {
    &:before {
      content: @print;
    }
  }

  &.radio-blank {
    &:before {
      content: @radio-blank;
    }
  }

  &.radio-filled {
    &:before {
      content: @radio-filled;
    }
  }

  &.refresh {
    &:before {
      content: @refresh;
    }
  }

  &.search {
    &:before {
      content: @search;
    }
  }

  &.shuffle {
    &:before {
      content: @shuffle;
    }
  }

  &.star {
    &:before {
      content: @star;
    }
  }

  &.tasks {
    &:before {
      content: @tasks;
    }
  }

  &.thumbs-down {
    &:before {
      content: @thumbs-down;
    }
  }

  &.thumbs-up {
    &:before {
      content: @thumbs-up;
    }
  }

  &.time {
    &:before {
      content: @time;
    }
  }

  &.warning {
    &:before {
      content: @warning;
    }
  }

  &.desc {
    &:before {
      content: @desc;
    }
  }

  &.asc {
    &:before {
      content: @asc;
    }
  }

  &.sort {
    &:before {
      content: @sort;
    }
  }

  &.dollar {
    &:before {
      content: @dollar;
    }
  }

  &.theme {
    &:before {
      content: @theme;
    }
  }

  &.test {
    &:before {
      content: @test;
    }
  }
}
