@font-face {
  font-family: 'iconsOpenL';
  src:  url('fonts/iconsOpenL.eot?ws8loc');
  src:  url('fonts/iconsOpenL.eot?ws8loc#iefix') format('embedded-opentype'),
    url('fonts/iconsOpenL.ttf?ws8loc') format('truetype'),
    url('fonts/iconsOpenL.woff?ws8loc') format('woff'),
    url('fonts/iconsOpenL.svg?ws8loc#iconsOpenL') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsOpenL' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo:before {
  content: "\e900";
}
.logo-symbol:before {
  content: "\e903";
}
.logo-brand:before {
  content: "\e905";
}
.add-circle:before {
  content: "\e906";
}
.add:before {
  content: "\e907";
}
.analytics:before {
  content: "\e908";
}
.arrow-down:before {
  content: "\e94e";
}
.arrow-left:before {
  content: "\e90a";
}
.arrow-right:before {
  content: "\e90b";
}
.arrow-up:before {
  content: "\e90c";
}
.bell-outline:before {
  content: "\e90d";
}
.bell:before {
  content: "\e90e";
}
.bookmark-outline:before {
  content: "\e90f";
}
.bookmark:before {
  content: "\e910";
}
.briefcase:before {
  content: "\e911";
}
.camera:before {
  content: "\e912";
}
.caret-down:before {
  content: "\e913";
}
.caret-up:before {
  content: "\e914";
}
.chat:before {
  content: "\e915";
}
.check-circle:before {
  content: "\e916";
}
.checkbox-filled:before {
  content: "\e917";
}
.checkbox:before {
  content: "\e918";
}
.checkmark:before {
  content: "\e919";
}
.dropdown:before {
  content: "\e91a";
}
.chevron-down:before {
  content: "\e91b";
}
.chevron-left:before {
  content: "\e91c";
}
.chevron-right:before {
  content: "\e91d";
}
.chevron-up:before {
  content: "\e91e";
}
.clock:before {
  content: "\e91f";
}
.close-circle:before {
  content: "\e920";
}
.close:before {
  content: "\e921";
}
.compass-arrow:before {
  content: "\e922";
}
.compass-target:before {
  content: "\e923";
}
.credit-card:before {
  content: "\e924";
}
.disabled:before {
  content: "\e925";
}
.edit:before {
  content: "\e926";
}
.elipses:before {
  content: "\e927";
}
.envelop-filled:before {
  content: "\e928";
}
.envelope-outline:before {
  content: "\e929";
}
.error:before {
  content: "\e92a";
}
.eye:before {
  content: "\e92b";
}
.file-download:before {
  content: "\e92c";
}
.file-upload:before {
  content: "\e92d";
}
.filter:before {
  content: "\e92e";
}
.gear:before {
  content: "\e92f";
}
.heart-outline:before {
  content: "\e930";
}
.heart:before {
  content: "\e931";
}
.help:before {
  content: "\e932";
}
.home:before {
  content: "\e933";
}
.image:before {
  content: "\e934";
}
.info:before {
  content: "\e935";
}
.lock-filled:before {
  content: "\e936";
}
.lock-open:before {
  content: "\e937";
}
.lock:before {
  content: "\e938";
}
.map-pin:before {
  content: "\e939";
}
.menu:before {
  content: "\e93a";
}
.mobile:before {
  content: "\e93b";
}
.notes:before {
  content: "\e93c";
}
.paperclip:before {
  content: "\e93d";
}
.person:before {
  content: "\e93e";
}
.phone:before {
  content: "\e93f";
}
.play-circle:before {
  content: "\e940";
}
.play:before {
  content: "\e941";
}
.print:before {
  content: "\e942";
}
.radio-blank:before {
  content: "\e943";
}
.radio-filled:before {
  content: "\e944";
}
.refresh:before {
  content: "\e945";
}
.search:before {
  content: "\e946";
}
.shuffle:before {
  content: "\e947";
}
.star:before {
  content: "\e948";
}
.tasks:before {
  content: "\e949";
}
.thumbs-down:before {
  content: "\e94a";
}
.thumbs-up:before {
  content: "\e94b";
}
.time:before {
  content: "\e94c";
}
.warning:before {
  content: "\e94d";
}
.desc:before {
  content: "\e904";
}
.asc:before {
  content: "\e902";
}
.sort:before {
  content: "\e901";
}
.dollar:before {
  content: "\e909";
}
.theme:before {
  content: "\e715";
}
.test:before {
  content: "\e7f3";
}
