@icomoon-font-family: "icons";
@icomoon-font-path: "fonts";

@logo: "\e900";
@logo-symbol: "\e903";
@logo-brand: "\e905";
@add-circle: "\e906";
@add: "\e907";
@analytics: "\e908";
@arrow-down: "\e909";
@arrow-left: "\e90a";
@arrow-right: "\e90b";
@arrow-up: "\e90c";
@bell-outline: "\e90d";
@bell: "\e90e";
@bookmark-outline: "\e90f";
@bookmark: "\e910";
@briefcase: "\e911";
@camera: "\e912";
@caret-down: "\e913";
@caret-up: "\e914";
@chat: "\e915";
@check-circle: "\e916";
@checkbox-filled: "\e917";
@checkbox: "\e918";
@checkmark: "\e919";
@dropdown: "\e91a";
@chevron-down: "\e91b";
@chevron-left: "\e91c";
@chevron-right: "\e91d";
@chevron-up: "\e91e";
@clock: "\e91f";
@close-circle: "\e920";
@close: "\e921";
@compass-arrow: "\e922";
@compass-target: "\e923";
@credit-card: "\e924";
@disabled: "\e925";
@edit: "\e926";
@elipses: "\e927";
@envelop-filled: "\e928";
@envelope-outline: "\e929";
@error: "\e92a";
@eye: "\e92b";
@file-download: "\e92c";
@file-upload: "\e92d";
@filter: "\e92e";
@gear: "\e92f";
@heart-outline: "\e930";
@heart: "\e931";
@help: "\e932";
@home: "\e933";
@image: "\e934";
@info: "\e935";
@lock-filled: "\e936";
@lock-open: "\e937";
@lock: "\e938";
@map-pin: "\e939";
@menu: "\e93a";
@mobile: "\e93b";
@notes: "\e93c";
@paperclip: "\e93d";
@person: "\e93e";
@phone: "\e93f";
@play-circle: "\e940";
@play: "\e941";
@print: "\e942";
@radio-blank: "\e943";
@radio-filled: "\e944";
@refresh: "\e945";
@search: "\e946";
@shuffle: "\e947";
@star: "\e948";
@tasks: "\e949";
@thumbs-down: "\e94a";
@thumbs-up: "\e94b";
@time: "\e94c";
@warning: "\e94d";
@desc: "\e904";
@asc: "\e902";
@sort: "\e901";
@theme: "\e715";
@test: "\e7f3";

