@icomoon-font-family: "icons";
@icomoon-font-path: "fonts";

@phone: "\e916";
@USD: "\e915";
@dollar: "\e909";
@instagram: "\ea92";
@vk: "\e910";
@telegram: "\e699";
@chevron-up-circle: "\e962";
@chevron-down-circle: "\e963";
@chevron-left-circle: "\e964";
@chevron-right-circle: "\e965";
@earth: "\e884";
@globe: "\e886";
@shutter: "\e708";
@register: "\e6d1";
@theme: "\e715";
@book: "\e714";
@books: "\e718";
@bank: "\e719";
@receipt: "\e757";
@profile: "\e6d0";
@calendar-user: "\e78c";
@tag: "\e755";
@tags: "\e756";
@camera: "\e704";
@read: "\e911";
@sent: "\e912";
@radar: "\e77f";
@compass: "\e780";
@send: "\e783";
@aim: "\e630";
@diamond-star: "\e809";
@plus-circle: "\e95b";
@minus-circle: "\e95c";
@filter: "\e97c";
@eye: "\e6a5";
@flag: "\e690";
@pushpin: "\e778";
@pin: "\e779";
@location: "\e77a";
@map: "\e782";
@star-full: "\e900";
@star: "\e68d";
@star-half: "\e68e";
@star-empty: "\e68f";
@cube: "\e874";
@test: "\e7f3";
@home: "\e601";
@heart: "\e68c";
@edit: "\e60d";
@cog: "\e672";
@at-sign: "\e695";
@mail: "\e696";
@bubble-dots: "\e7d8";
@bubble-question: "\e7da";
@bubble-alert: "\e7d9";
@bubble: "\e7d6";
@login: "\e6d2";
@logout: "\e6d3";
@options: "\e6f2";
@picture: "\e70e";
@user: "\e71e";
@users: "\e723";
@calendar: "\e788";
@support: "\e7ed";
@search: "\f002";
@zoom-in: "\f00e";
@zoom-out: "\f010";
@delete: "\e92a";
@close: "\e935";
@plus: "\e936";
@minus: "\e938";
@check: "\e934";
@checkmark: "\e937";
@chevron-left: "\e93b";
@chevron-right: "\e93c";
@chevron-up: "\e939";
@chevron-down: "\e93a";
@dropdown: "\f0d7";
@alert-circle: "\e956";
@question-circle: "\e957";
@check-circle: "\e959";
@cross-circle: "\e95a";
@square: "\e98d";
@check-square: "\e999";
@more: "\e9e9";
@visa: "\e908";
@RUB: "\e914";
@facebook: "\e913";
@whatsapp: "\eef2";
@hair: "\e90f";
@twitter: "\e90d";
@measurement: "\e90e";
@clock: "\e907";
@bell: "\e906";
@caret-down: "\e905";
@desc: "\e904";
@caret-up: "\e903";
@asc: "\e902";
@sort: "\e901";
@discover: "\e90b";
@mastercard: "\e90c";
@amex: "\e90a";

